<div class="modal-container">
  <div class="modal">
    <div class="stack">
      <h2 class="modal-title">Fejlesztések</h2>
      <p class="modal-description">
        <strong>Kattints rá, amelyiket szeretnéd megvenni.</strong>
      </p>
      <p class="modal-description">
        Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog
        fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két
        kombájn).
      </p>
      <form class="stack align-center">
        <ul class="item-container">
          <li *ngFor="let upgrade of upgrades" class="non-styled-list-item">
            <button
              type="button"
              class="item-btn"
              (click)="setUpgrade(upgrade.id)"
            >
              <upgrade-details
                class="item item-sm stack align-center"
                [upgrade]="upgrade"
              ></upgrade-details>
            </button>
          </li>
        </ul>
        <div class="divider"></div>
        <button
          type="submit"
          [disabled]="!selectedUpgrade || isResearching"
          class="gradient-button mt-2"
        >
          {{ isResearching ? "Folyamatban..." : "Megveszem" }}
        </button>
      </form>
    </div>
  </div>
</div>
