<h2 class="modal-title">Események</h2>
<div class="divider"></div>
<div *ngIf="!(loading$ | async)" class="stack paged-list to-sides">
    <ul class="p-0 m-0">
        <li *ngFor="let event of list.events" class="non-styled-list-item">
            <div class="list-item">
                <div class="d-flex">
                    <div>{{event.eventRound}}. kör</div>
                </div>
                <div class="tooltip">
                    <strong>{{event.name}}</strong>
                    <ul class="tooltiptext m-0 p-0">
                        <li *ngFor="let effect of event.effects" class="non-styled-list-item">
                            {{effect.name}}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="divider"></div>
        </li>
    </ul>
    <pager-buttons [pageSize]="list.pageSize" [pageNumber]="list.pageNumber" [allResultsCount]="list.allResultscount"
        (switchPage)="onSwitchPage($event)" class="w-100 d-flex align-center to-center mt-1"></pager-buttons>
</div>