@page
@model UnderSea.Api.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Regisztráció";
    Layout = "_Layout";
}

<main class="container bg">
    <div class="stack align-center">
        <h1 class="title">UNDERSEA</h1>

        <form method="post" class="blurry-panel stack align-center w-461px">
            <input type="hidden" asp-for="ReturnUrl" />
            <h2 class="login-title">Regisztráció</h2>
            <input class="text-input" type="text" placeholder="Felhasználónév" asp-for="Username" />
            @if (ViewData.ModelState.ContainsKey("Username"))
            {
                <span asp-validation-for="Username" class="error-text"></span>
            }


            <input class="text-input" type="password" placeholder="Jelszó" asp-for="Password" />
            @if (ViewData.ModelState.ContainsKey("Password"))
            {
                <span asp-validation-for="Password" class="error-text"></span>
            }
            <input class="text-input" type="password" placeholder="Jelszó megerősítése" asp-for="ConfirmPassword" />
            @if (ViewData.ModelState.ContainsKey("ConfirmPassword"))
            {
                <span asp-validation-for="ConfirmPassword" class="error-text"></span>
            }
            <input class="text-input" type="text" placeholder="Az országod neve, amit építesz" asp-for="CountryName" />
            @if (ViewData.ModelState.ContainsKey("CountryName"))
            {
                <span asp-validation-for="CountryName" class="error-text"></span>
            }
            <button name="action" value="register" class="gradient-button mt-05">Regisztráció</button>
            <button name="action" value="login" class="link mt-2">Bejelentkezés</button>

        </form>
    </div>
</main>
