<div class="stack to-sides h-100">
  <div class="stack w-100">
    <button class="gradient-button sidebar-button">Épületek</button>
    <button class="gradient-button sidebar-button">Támadás</button>
    <button class="gradient-button sidebar-button">Fejlesztések</button>
    <button class="gradient-button sidebar-button">Harc</button>
    <button class="gradient-button sidebar-button">Ranglista</button>
    <button class="gradient-button sidebar-button">Sereg</button>
  </div>
  <profilecard class="blurry-panel w-85 stack" [name]="userName"> </profilecard>
  <span class="title">UNDERSEA</span>
</div>
