<div class="stack to-sides h-100 align-center">
  <div class="stack w-100 align-center">
    <a class="gradient-button sidebar-button" routerLink="/main/buildings">Épületek</a>
    <a class="gradient-button sidebar-button" routerLink="/main/attack">Támadás</a>
    <a class="gradient-button sidebar-button" routerLink="/main/explore">Felfedezés</a>
    <a class="gradient-button sidebar-button" routerLink="/main/upgrades">Fejlesztések</a>
    <a class="gradient-button sidebar-button" routerLink="/main/reports/battle">Jelentések</a>
    <a class="gradient-button sidebar-button" routerLink="/main/scoreboard/ranklist">Ranglista</a>
    <a class="gradient-button sidebar-button" routerLink="/main/units">Sereg</a>
  </div>
  <profilecard class="blurry-panel w-85 stack align-center" [name]="userName">
  </profilecard>
  <h1 class="title">UNDERSEA</h1>
</div>