<div class="container bg">
  <div>
    <h1 class="title"> UNDERSEA </h1>
    <form class="blurry-panel stack align-center">
      <h2 class="login-title">Belépés</h2>
      <input type="text" placeholder="Felhasználónév" class="text-input" />
      <input type="password" placeholder="Jelszó" class="text-input" />
      <button type="submit" class="gradient-button mt-2">Belépés</button>
      <a class="link mt-2" href="register">Regisztráció</a>
      <div class="low-opacity-white"></div>
    </form>
  </div>
</div>
