<div class="modal-container">
    <div class="modal modal-sm">
        <h2 class="modal-title">{{event.name}}</h2>
        <div class="divider"></div>

        <div class="d-flex to-center p-1">
            <img src="../../assets/img/{{event.id}}.png">
        </div>
        <p class="modal-description mt-05">A(z) <strong>{{event.name}}</strong> esemény bekövetkezett az országodban.
        </p>
        <p *ngFor="let effect of event.effects" class="modal-description mt-05">{{effect.name}}</p>
        <div class="stack align-center mt-05">
            <button type="button" class="gradient-button mt-1" (click)="notificationClosed.emit()">
                Értem
            </button>
        </div>
    </div>
</div>