<div class="modal-container">
  <div class="modal">
    <div class="stack">
      <h2 class="modal-title">Fejlesztések</h2>
      <p class="modal-description">
        <strong>Kattints rá, amelyiket szeretnéd megvenni.</strong>
      </p>
      <p class="modal-description">
        Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog
        fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két
        kombájn).
      </p>
      <form class="stack align-center">
        <div class="divider"></div>
        <button type="submit" class="gradient-button mt-2">Megveszem</button>
      </form>
    </div>
  </div>
</div>
