.img {
  position: absolute;
}

.castle {
  left: 30%;
  top: 50%;
  height: 30%;
  z-index: 2;
}

.sonar {
  left: 37%;
  top: 15%;
  height: 60%;
  z-index: 1;
}

.flow-control {
  left: 45%;
  top: 55%;
  height: 30%;
  z-index: 3;
}
