<h2 class="modal-title">Felfedezés</h2>
<div class="divider"></div>
<div
  *ngIf="!(isLoading$ | async); else loading"
  class="stack paged-list to-sides"
>
  <ul class="p-0 m-0">
    <li *ngFor="let report of list.reports" class="non-styled-list-item">
      <div class="list-item">
        <div class="d-flex">
          <div>{{ report.country }}</div>
          <div
            class="dot ml-1"
            [ngClass]="{
              'lose-bg': report.outcome === noSuccess,
              'not-yet-bg': report.outcome === notYet
            }"
          >
            {{
              report.outcome === noSuccess
                ? "&#x2718;"
                : report.outcome === notYet
                ? "&#8210;"
                : "&#x2714;"
            }}
          </div>
        </div>
        <div *ngIf="report.outcome === success" class="modal-description">
          <strong>{{ report.defense }} védekezési pont</strong>
        </div>
      </div>
      <div class="divider"></div>
    </li>
  </ul>
  <pager-buttons
    [pageSize]="list.pageSize"
    [pageNumber]="list.pageNumber"
    [allResultsCount]="list.allResultsCount"
    (switchPage)="onSwitchPage($event)"
    class="w-100 d-flex align-center to-center mt-1"
  ></pager-buttons>
</div>

<ng-template #loading>
  <loading class="w-100 h-100 d-flex to-center align-center"></loading>
</ng-template>
