@import "../infobar/infobar.component.scss";
.secondary-text {
  font-size: 1.25rem;
  color: $navy;
  margin-top: -0.6rem;
}

.pl-2_5 {
  padding-left: 2.5rem;
}

.plr-05-1 {
  padding-left: 0.5rem;
  padding-right: 1rem;
}
