<h2 class="modal-title">Harc</h2>
<div class="divider"></div>
<div *ngIf="!(loading$ | async)" class="stack paged-list to-sides">
  <ul class="p-0 m-0">
    <li
      *ngFor="let battle of pagedBattles.battles"
      class="non-styled-list-item"
    >
      <div class="list-item">
        <div class="d-flex">
          <div>{{ battle.target }}</div>
          <div
            class="dot ml-1"
            [ngClass]="{
              'lose-bg': battle.result === lose,
              'not-yet-bg': battle.result === notYet
            }"
          >
            {{
              battle.result === lose
                ? "&#x2718;"
                : battle.result === notYet
                ? "&#8210;"
                : "&#x2714;"
            }}
          </div>
        </div>
        <div class="d-flex to-flex-end">
          <div *ngFor="let unit of battle.units" class="pl-1">
            {{ unit.count }} {{ unit.name }}
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </li>
  </ul>
  <pager-buttons
    [pageSize]="pagedBattles.pageSize"
    [pageNumber]="pagedBattles.pageNumber"
    [allResultsCount]="pagedBattles.allResultsCount"
    (switchPage)="onSwitchPage($event)"
    class="w-100 d-flex align-center to-center mt-1"
  ></pager-buttons>
</div>
