//fonts

@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

//images

$background: url("../img/background_hd.png");
$login: url("../img/login_hd.png");

//colors

$white: #ffffff;
$light-grey: #dfe3ee;
$teal: #9ffff0;
$blue: #428dff;
$navy: #1c3e76;
$dark-navy: #001234;

//effects

$blur: blur(8px);
$foggy: 0.39;
$gradient: linear-gradient(258deg, #9ffff0 0%, #9ffff0 36%, #0fcfde 100%);

//css classes

.text-input {
  font-size: 1.1rem;
  background: $white;
  opacity: $foggy;
  border-radius: 20px;
  border: none;
  color: navy;
  font-family: "OpenSans";
  width: 80%;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-opacity-white {
  background-color: $white;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  margin: -1rem;
}

.blurry-panel {
  position: relative;
  border-radius: 16px;
  padding: 1rem;
  backdrop-filter: $blur;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient-button {
  background: $gradient;
  color: $dark-navy;
  border-radius: 90px;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  font-family: "Baloo";
  text-align: center;
}

.link {
  color: $teal;
  font-family: "Baloo";
  font-size: 1rem;
  text-decoration: none;
}

.icon-frame {
  background: $teal;
  border-radius: 14px;
  border: 2px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-frame-sm {
  width: 3.5rem;
  height: 3.5rem;
}

.icon-frame-lg {
  width: 6rem;
  height: 6rem;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.to-flex-end {
  justify-content: flex-end;
}

.to-sides {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
  box-sizing: border-box;
}

.w-15 {
  width: 15%;
  box-sizing: border-box;
}

.w-12 {
  width: 12%;
  box-sizing: border-box;
}

.w-85 {
  width: 85%;
  box-sizing: border-box;
}

.w-300px {
    width: 300px;
    box-sizing: border-box;
}

.h-100 {
  height: 100%;
}

.p-1 {
  padding: 1rem;
}
