<div class="container bg">
  <div>
    <h1 class="title">UNDERSEA</h1>
    <form
      class="blurry-panel stack align-center"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="login-title">Regisztráció</h2>
      <input
        type="text"
        placeholder="Felhasználónév"
        class="text-input"
        required
        formControlName="userName"
      />
      <input
        type="password"
        placeholder="Jelszó"
        class="text-input"
        required
        formControlName="password"
      />
      <input
        type="password"
        placeholder="Jelszó megerősítése"
        class="text-input"
        required
        formControlName="confirmPassword"
      />
      <input
        type="text"
        placeholder="A városod neve, amit építesz"
        class="text-input"
        required
        formControlName="countryName"
      />
      <span *ngIf="loginFailed.value" class="error-text"
        >Sikertelen regisztráció!</span
      >
      <div class="error-container">
        <p *ngIf="!registerForm.controls['password'].valid" class="error-text">
          A jelszónak tartalmaznia kell 1 nagybetűt, 1 kisbetűt, 1 számot és 1
          speciális karaktert!
        </p>
      </div>
      <button
        type="submit"
        class="gradient-button"
        [disabled]="!registerForm.valid"
      >
        Regisztráció
      </button>
      <a class="link mt-2" routerLink="/login">Bejelentkezés</a>
      <div class="low-opacity-white"></div>
    </form>
  </div>
</div>
