<div class="container bg">
  <div class="stack align-center">
    <h1 class="title">UNDERSEA</h1>
    <form class="blurry-panel stack align-center w-461px" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2 class="login-title">Regisztráció</h2>
      <input type="text" placeholder="Felhasználónév" class="text-input" required formControlName="userName" />
      <input type="password" placeholder="Jelszó" class="text-input" required formControlName="password" />
      <input type="password" placeholder="Jelszó megerősítése" class="text-input" required
        formControlName="confirmPassword" />
      <input type="text" placeholder="Az országod neve, amit építesz" class="text-input" required
        formControlName="countryName" />

      <div class="error-container w-85">
        <p *ngIf="
            !registerForm.controls['userName'].valid &&
            registerForm.controls['userName'].touched
          " class="error-text">
          {{
            registerForm.controls["userName"].errors.length
              ? registerForm.controls["userName"].errors
              : "A felhasználónévnek legalább 3 karakter hosszúnak kell lenni, és nem tartalmazhat szóközt vagy speciális karaktert."
          }}
        </p>
        <p *ngIf="
            !registerForm.controls['password'].valid &&
            registerForm.controls['password'].touched
          " class="error-text">
          {{
            registerForm.controls["password"].errors.length
              ? registerForm.controls["password"].errors
              : pwRegEx.test(registerForm.controls["password"].value)
              ? "A jelszavak nem egyeznek!"
              : "A jelszónak legalább 6 karakter hosszúnak kell lennie, tartalmaznia kell számot, kis és nagy betűt és speciális karaktert (._#$^+=!*()@%&)!"
          }}
        </p>
        <p *ngIf="
            !registerForm.controls['confirmPassword'].valid &&
            registerForm.controls['confirmPassword'].touched
          " class="error-text">
          {{
            registerForm.controls["confirmPassword"].errors.length
              ? registerForm.controls["confirmPassword"].errors
              : pwRegEx.test(registerForm.controls["password"].value)
              ? "A jelszavak nem egyeznek!"
              : "A jelszónak legalább 6 karakter hosszúnak kell lennie, tartalmaznia kell számot, kis és nagy betűt és speciális karaktert (._#$^+=!*()@%&)!"
          }}
        </p>
        <p *ngIf="
            !registerForm.controls['countryName'].valid &&
            registerForm.controls['countryName'].touched
          " class="error-text">
          {{
            registerForm.controls["countryName"].errors.length
              ? registerForm.controls["countryName"].errors
              : "Az ország nevét kötelező megadni!"
          }}
        </p>
      </div>
      <button type="submit" class="gradient-button mt-05" [disabled]="!registerForm.valid">
        Regisztráció
      </button>
      <a class="link mt-2" routerLink="/login">Bejelentkezés</a>
    </form>
  </div>
</div>