<div class="modal-container">
  <div class="modal">
    <h2 class="modal-title">Profil</h2>
    <p class="modal-description">
      Országod jelenlegi neve: <strong>Kukutyim</strong>
    </p>

    <div class="stack align-center">
      <input
        type="text"
        placeholder="Új név..."
        class="text-input mt-1"
        [(ngModel)]="newName"
      />
      <button
        type="button"
        class="gradient-button mt-1"
        (click)="setNewName()"
        [disabled]="!newName"
      >
        Átnevezés
      </button>
    </div>
  </div>
</div>
