<div class="modal-container">
  <div class="modal modal-sm">
    <h2 class="modal-title">Profil</h2>
    <form
      *ngIf="name; else loading"
      [formGroup]="countryForm"
      (ngSubmit)="setNewName()"
    >
      <p class="modal-description">
        Országod jelenlegi neve: <strong>{{ name }}</strong>
      </p>

      <div class="stack align-center">
        <input
          type="text"
          placeholder="Új név..."
          class="text-input mt-1"
          required
          formControlName="newName"
        />
        <button
          type="submit"
          class="gradient-button mt-1"
          [disabled]="!countryForm.valid"
        >
          Átnevezés
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #loading>
  <loading class="w-100 h-100 d-flex to-center align-center"></loading>
</ng-template>
