<h2 class="modal-title">Győzelmek</h2>
<div *ngIf="!(loading$ | async)" class="to-sides h-list stack">
    <list class="w-100" [list]="scoreboard.list" [clickable]="false" (filter)="onFilter($event)"
        [defaultValue]="filter">
    </list>
    <pager-buttons [pageSize]="scoreboard.pageSize" [pageNumber]="scoreboard.pageNumber"
        [allResultsCount]="scoreboard.allResultsCount" (switchPage)="onSwitchPage($event)"
        class="w-100 d-flex align-center to-center mt-1"></pager-buttons>
</div>