<div class="modal-container">
  <div class="modal">
    <div class="stack">
      <h2 class="modal-title">Épületek</h2>
      <p class="modal-description">
        <strong>Kattints rá, amelyiket szeretnéd megvenni.</strong>
      </p>
      <p class="modal-description">Egyszerre csak egy épület épülhet!</p>
      <form class="stack align-center">
        <div class="divider"></div>
        <button type="submit" class="gradient-button mt-2">Megveszem</button>
      </form>
    </div>
  </div>
</div>
