<div class="blurry-panel bar w-100">
  <div class="plr-1 d-flex w-15 to-sides">
    <span class="text">{{ round }}. kör</span>
    <span class="text">{{ placement }}. hely</span>
  </div>
  <div class="d-flex align-center w-85 to-flex-end">
    <resource-info
      *ngFor="let unit of resources.units"
      [img]="unit.icon"
      [count]="unit.count"
      class="d-flex w-12 to-flex-end align-center"
    ></resource-info>

    <resource-info
      [img]="pearlImg"
      [count]="resources.pearls"
      [perRound]="resources.pearlsPerRound"
      class="d-flex w-12 to-flex-end align-center"
    ></resource-info>
    <resource-info
      [img]="coralImg"
      [count]="resources.corals"
      [perRound]="resources.coralsPerRound"
      class="d-flex w-12 to-flex-end align-center"
    ></resource-info>

    <resource-info
      *ngFor="let building of resources.buildings"
      [img]="building.iconImageUrl"
      [count]="building.buildingsCount"
      [underConstruction]="building.activeConstructionCount"
      class="d-flex w-12 to-flex-end align-center"
    ></resource-info>
  </div>
</div>
